.dismiss {
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: 0.1s;
}

.dismiss:hover {
    transform: rotate(90deg);
    color: orangered;
    cursor: pointer;
}

.dismiss:active {
    transform: rotate(90deg) scale(0.8);
    color: black;
}

.popup{
    animation: bounceIn 0.4s ease-out forwards;
}

@keyframes bounceIn {
    0% {
        transform-origin: center center;
        transform: translate(-50%, -80%) scale(0.5);
    }
    60% {
        transform-origin: center center;
        transform: translate(-50%, -80%) scale(1.2);
    }
    100% {
        transform-origin: center center;
        transform: translate(-50%, -80%) scale(1);
    }
}
