.FormContainer{
    text-align: center;
}

.Title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.InputContainer{

}


.Input{
    border: 1px solid skyblue;
    border-radius: 0.5rem;
    width: 16rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0.3rem;
    padding-left: 0.3rem;
}

.Message{
    margin-top: 0.2rem;
    color: red;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.8rem;
}

.CaptchaContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin: 0.3rem;
}

.CaptchaInput{
    height: 2rem;
    width: 10rem;
    border: 1px solid skyblue;
    border-radius: 0.5rem;
    padding-left: 0.3rem;
}

.CaptchaImg{
    width: 5rem;
    height: 2rem;
}

.CaptchaImg img{
    height: 2rem;
    cursor: pointer;
}

.Button{
    font-size: 1.2rem;
    background-color: skyblue;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.Button:hover,
.Send:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0 0 2px 2px skyblue;
}

.Button:active,
.Send:active{
    box-shadow: none;
}

.Send{
    /*border: 1px solid gray;*/
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    height: 2rem;
    width: 5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: skyblue;
}

.disabled{
    background-color: lightgray;
    color: white;
}

.Notification{
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.Notification_Login{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.Forget{
    text-align: center;
    margin-bottom: 1rem;
}

.LinkContainer{
    display: flex;
    justify-content: center;
}

.Link{
    color: skyblue;
}

.Link:hover{
    color: orangered;
    cursor: pointer;
}

.Icon{
    font-size: 3rem;
}

