.Container {
    padding: 2rem 0 1rem;
    border-bottom: 1px solid #dadada;
}

.TitleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.TitleContainer {
    font-size: 2rem;
    cursor: pointer;
}

.TitleChunk{
    margin-left: 0.5rem;
}

.TitleLogo{
    color: #0064c0;
    font-weight: bold;
}

.Corner{
    width: 25%;
    height: 3rem;
}

.AccountContainer{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.GreetingContainer{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.Greeting{

}

.Account{
    cursor: pointer;
    text-decoration: underline;
}

.Account:hover{
    color: orangered;
}

.LoginContainer {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Button{
    color: #fff;
    padding: 0.6rem;
    text-align: center;
    width: 7rem;
    border-radius: 0.6rem;
    margin: 0 1rem;
    background-color: #0064c0;
    box-sizing: border-box;
}

.Button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.SignUp{
    /*background-color: rgba(19, 5, 143, 0.9);*/
    color: white;
}

.Button:hover{
    background-color: rgba(37, 20, 154, 0.8);
}

.Login{

}

.LinkContainer {
    display: inline-flex;
    height: 2.5rem;
    justify-content: start;
    align-items: center;
    border: 1px solid #cacaca;
    border-radius: 0.5rem;
    overflow: hidden;
}

.Link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 2.5rem;
    color: #787878;
}

.Active {
    background-color: #e9e9e9;
}

