.Container {
    border: 1px solid #cccccc;
    padding: 1rem 2rem;
    border-radius: 0.8rem;
    margin-top: 1rem;
    cursor: pointer;
}

.Container:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px 2px lightgray;
}

.Top {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.Category {

}

.Score {

}

.Time {
    font-size: 0.9rem;
    color: #787878;
    margin-top: 0.6rem;
    display: flex;
    justify-content: flex-end;
}
