.Container{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.Left{
    padding: 1rem 2rem;
    border: 1px solid rgba(128, 128, 128, 0.8);
    border-radius: 1rem;
    width: 72%;
    min-height: 50rem;
}

.CardContainer{
    display: flex;
    justify-content: start;
    gap: 2%;
    align-items: center;
    align-content: start;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.Right{
    width: 25%;
    border: 1px solid rgba(128, 128, 128, 0.8);
    border-radius: 1rem;
    min-height: 50rem;
}
