/*.Outer{*/
/*    background-color: #e4f2ff;*/
/*    height: 100vw;*/
/*}*/

.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

.AnimContainer{
    width: 25.5rem;
    height: 31.5rem;
}

.FormContainer{
    width: 25.5rem;
    height: 31.5rem;
}
