.Container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}

.AnimContainer{
    width: 22.25rem;
    height: 31.5rem;
}

.FormContainer{
    width: 20rem;
    height: 31.5rem;
}