.FormContainer{
    text-align: center;
}

.Title{
    font-size: 2rem;
}

.InputContainer{
    font-size: 1.2rem;
}

.Input{
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 16rem;
    height: 2rem;
    line-height: 2rem;
    margin: 0.3rem;
    padding-left: 0.3rem;
}

.Message{
    margin-top: 0.2rem;
    color: red;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 0.8rem;
}

.CaptchaContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    margin: 0.3rem;
}

.CaptchaInput{
    height: 2rem;
    width: 10rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.CaptchaImg{
    width: 5rem;
    height: 2rem;
}

.CaptchaImg img{
    height: 2rem;
    cursor: pointer;
}

.Button{
    font-size: 1.2rem;
    border: 1px solid black;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.Button:hover{
    cursor: pointer;
    color: white;
    box-shadow: 0 0 5px 5px gray;
    background-color: skyblue;
}

.Send{
    border: 1px solid gray;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    height: 2rem;
    width: 5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(129, 215, 218, 0.73);
}

.disabled{
    background-color: lightgray;
    color: white;
}

.Notification{
    margin-top: 2rem;
}

.Notification_Login{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.Forget{
    text-align: right;
    margin-bottom: 1rem;
}

.LinkContainer{
    display: flex;
    justify-content: center;
}

.Link{
    color: cornflowerblue;
}

.Link:hover{
    color: #0a0a0a;
    cursor: pointer;
}