.CardContainer {
    width: 32%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 0 0 auto;
    border: 1px solid #cccccc;
    border-radius: 0.2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.CardContainer:hover{
    box-shadow: 0 0 5px 5px lightgray;
}

.CardContainer:active{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}
