.Title{
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    text-align: center;
    border-bottom: 1px solid #787878;
}

.TitleContainer{

}

.TitleLogo{
    color: #0065c2;
}

.TitleChunk{

}

.ScoreContainer{
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    border: 2px solid skyblue;
    border-radius: 2rem;
}

.QuizContainer{
    width: 100%;
    padding: 1rem 20rem;
}

.TimerContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
}

.Timer{
    padding: 0.6rem 1rem;
    border: 1px solid #b4b4b4;
    color: #787878;
    border-radius: 0.5rem;
}

.ButtonContainer{
    font-size: 1.5rem;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-around;
}

.Submit,
.Cancel{
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 2rem;
    background-color: #0064c0;
    color: #ffffff;
}

.ButtonContainer button:hover{
    cursor: pointer;
    background-color: rgba(37, 20, 154, 0.8);
    box-shadow: 0 0 5px 2px lightgray;
}

.ButtonContainer button:active{
    transform: scale(0.95);
    box-shadow: none;
}
