.Container{
    width: 100%;
    padding: 2rem 0;
    height: 40rem;
    border: 2px solid skyblue;
}

.Input{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-left: 0.3rem;
    height: 1.5rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
}

.Clear{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    padding: 0 0.3rem;
    text-align: right;
}

.Clear:hover{
    color: orangered;
    cursor: pointer;
}

.Clear:active{
    color: black;
}