.Container{
    width: 100%;
}

.Input{
    display: block;
    width: 100%;
    padding-left: 1rem;
    height: 2rem;
    font-size: 0.8rem;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
}

.Clear{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    padding: 0 0.3rem;
    text-align: right;
}

.Clear:hover{
    color: orangered;
    cursor: pointer;
}

.Clear:active{
    color: black;
}
