.Container{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.CardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: start;
    width: 75%;
    flex-wrap: wrap;
    border: 2px solid skyblue;

}

.SideContainer{
    width: 22%;
}